[submodule "vendor/hump"]
	path = vendor/hump
	url = https://github.com/vrld/hump
[submodule "vendor/windfield"]
	path = vendor/windfield
	url = https://github.com/a327ex/windfield.git
[submodule "vendor/Simple-Tiled-Implementation"]
	path = vendor/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation
